<div id="wrapper">
   <!-- Sidebar -->
   <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
           <li>
               <a [routerLink]="['/productList']">Product List</a>
           </li>
           <li>
               <a [routerLink]="['/newProducts']">Product Form</a>
           </li>
        </ul>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12"> 
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>